*{
  font-family: 'Nunito', sans-serif;
}

.App {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color:  #4B9426 ; */
  
}
.btn-5{

  border:none ;
  padding: 1rem;
  font-size: medium;
  font-weight: 700;

}



.container {
  /* background-color:  #4B9426 ; */
  text-align: center;
}





